# Archivos de estado de Terraform
*.tfstate
*.tfstate.*

# Archivos de respaldo de Terraform
*.backup

# Archivos de bloqueo
.terraform.lock.hcl

# Directorio de trabajo de Terraform
.terraform

# Archivos de salida de logs o temporales
crash.log
*.log

# Archivos de configuración local
*.tfvars
*.tfvars.json

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de credenciales
*.pem
*.key
*.crt
.idea